# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
!hashdeep/*.exe

# Metadata
*.aliases
*.lvlps

# Log files
npm-debug.log

# Package manager directories
/bower_components
/node_modules

# Build output
/build

# Local files
/experiments
*.tgz
